# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# Android
/android/app/build/
/android/.gradle/
/android/build/

# iOS
/ios/Pods/

# Generated
*.lock
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# IntelliJ / Android Studio
.idea/

# VS Code
.vscode/